.banner {
  background-image: linear-gradient(
      to right top,
      rgba(0, 148, 50, 0.8),
      rgba(0, 148, 50, 0.8)
    ),
    url("../../asset/img/market.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
